<div class="containerBody">
    <div class="jumbotronInfo">
        <h1>INFORMACIÓN DEL PROCESO ACTUAL</h1>
        <div class="info">
            <hr>
            <p><b>Argumentos de entrada:</b> {{data.args}}</p>            
            <p><b>Nombre de la plataforma (sistema operativo):</b> {{data.plataforma}}</p>
            <p><b>Versión de Node.js:</b> {{data.nodeVersion}}</p>
            <p><b>Memoria total reservada (rss):</b> {{data.memoria}}</p>
            <p><b>Path de ejecución:</b> {{data.execPath}}</p>
            <p><b>Process id:</b> {{data.processID}}</p>
            <p><b>Carpeta del proyecto:</b> {{data.carpeta}}</p>
            <hr>
            <p><b>Cantidad de núcleos:</b> {{data.cantidadNucleos}}</p>
        </div>
        <button onclick="location.href='./'">VOLVER</button>                
    </div>

</div>
